body {
    background-color: #e9ecef;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.form {
    background-color: antiquewhite;
    width: 700px;
    height: 600px;
    border-radius: 20px;
}

.title-state {
    padding: 15px 0px 0px 10px;
}